<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="jsform" frontName="jsform">
            <module name="JamesSedillo_JSForm" />
        </route>
    </router>
</config>