<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
    	<customordernumber>
    		<general>
    			<enabled>1</enabled>
    		</general>
    		<order>
    			<prefix>ORD-{yy}/{m}/{d}-</prefix>
    			<suffix>-VES</suffix>
    			<start_value>100</start_value>
    			<number_length>6</number_length>
    			<step>5</step>
    		</order>
    		<invoice>
    			<same_as_order>1</same_as_order>
    		</invoice>
    		<shipment>
    			<same_as_order>1</same_as_order>
    		</shipment>
    		<creditmemo>
    			<same_as_order>1</same_as_order>
    		</creditmemo>
    	</customordernumber>
    </default>
</config>
